MONGO_URI=mongodb+srv://{username}:{password}@{host}/?retryWrites=true&w=majority&appName={options}
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOST=
MONGO_OPTIONS=

DATABASE_NAME=portfolio-analytics
COLLECTION_NAME=analytics
STATS_DOCUMENT_ID=669c9fa56b71ca0b7cfd81a5
ALLOW_ORIGIN_REGEX=https://.*\.netlify\.app

# For a future /chat endpoint
GEMINI_API_KEY=
